@font-face {
  font-family: "Libre";
  src: url("./../fonts/LibreFranklin-Regular.ttf") format("truetype");
}

body {
  font-family: "Libre", sans-serif!important;
  margin: 0;
  background-color: #121212;
}

.App {
  display: block;
  margin: 0 auto;
}

.navbar {
  background-color: #222222;
  width: 100%;
  height: 70px;
  &__nav {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 20px;
    transition: 0.2s ease;
    &:hover {
      color: goldenrod;
    }
    &-main {
      color: white;
      padding: 5px 10px;
      transition: 0.2s ease;
      border: 2px solid transparent;
      border-radius: 5px;
      &:hover {
        border: 2px solid #6f6aff;
        background-color: #121212;
      }
    }
  }
}

.posts-wrapper {
  width: 1000px;
  margin: 0 100px 0 0;
}

.posts {
  margin: 0 auto 0 150px;
  width: 900px;
  background-color: #222222;
  padding: 50px 0;
  &__list {
    display: flex;
    flex-direction: column-reverse;
  }
}


.sidebar {
  background-color: #222222;
  min-height: 800px;
  width: 800px;
  &__wrapper {
    width: 90%;
    margin: 0 auto ;
    height: 100%;
    &__item {
      display: flex;
      margin: 50px 0;
      font-size: 20px;
      font-weight: 600;
      color: white;
      &:hover {
        cursor: pointer;
      }
      &-img {
        margin: 0 10px 0 0;
        min-width: 200px;
        height: 100px;
        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &-texts {
        height: 100px;
        display: flex;
        align-items: center;
        &-title {

        }
        &-id {
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

.routes-wrapper {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #121212;
  justify-content: center;
}

.post {
  width: 80%;
  border: 2px solid #6f6aff;
  background-color: #121212;
  border-radius: 5px;
  margin: 10px auto;
  padding: 30px 20px;
  color: white;
  &__title {
    font-size: 35px;
    text-align: left;
    padding: 0 0 20px 0;
    font-weight: 600;
    word-spacing: 3px;
    letter-spacing: 0.5px;
  };
  &__body {
    font-size: 1.5rem;
  };
  &__likes {
    padding: 25px 0 0 0;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    & > span > i {
      padding: 5px;
      cursor: pointer;
      position: relative;
      top: 3px;
    }
  }
}

.my-input {
  margin: 10px 0 0 0;
  font-size: 45px;
  display: flex;
}

#search {
  color: white;
  margin: 8px 0 0 5px;
}

i {
  cursor: pointer;
}

input {
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  font-weight: 600!important;
}

.inp60 {
  width: 60%;
}

.options {
  width: 60%;
  margin: 0 auto 50px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    &-select {

      display: flex;
      align-items: center;
      position: relative;
      color: #121212;
      font-size: 1.5rem;
      width: 150px;
      text-align: center;
      cursor: pointer;
      &-text {
        width: 100%;
        text-align: center;
        background-color: white;
      };
      &-modal {
        width: 100%;
        top: 35px;
        background-color: #6f6aff;
        position: absolute;
        font-size: 0.9em;
        &__item {
          padding: 5px 0;
          text-transform: uppercase;
          font-size: 1rem;
          &:first-child {
          }
          &:hover {
            background-color: goldenrod!important;
            color: black!important;
          }
        }
      }
    };
  }
}

select {
  display: block;
  background-color: transparent;
  color: white;
  padding: 0 20px;
  font-size: 20px;
}

option {
  color: black;
}

.modal-window {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  background-color: rgba(80, 80, 80, 0.6);
  justify-content: center;
  align-items: center;
  &__content {
    position: relative;
    min-width: 400px;
    min-height: 250px;
    z-index: 3;
    opacity: 1;
    background-color: #222222;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    &-tw {
      display: none;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.displayF {
  display: flex!important;
}

.absolute-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 5px 10px;
  &:hover {
    background-color: red;
    cursor: pointer;
  }
}

.btn {
  color: #121212;
  font-weight: 500;
  background-color: white;
  &:hover {
    background-color: rgba(10, 10, 10, 0.5)!important;
    color: white;
  };
  &:active {
    background-color: black!important;
  };
  &:focus {
    background-color: white;
  }
}


.btn-flex {
  display: flex;
  justify-content: space-around;
}

.validate {
  border-bottom: 1px solid white!important;
  box-shadow: 0 1px 0 0 white!important;
}


.navbar__search {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  position: relative;
  justify-content: space-between;
  left: -50px;
  &__text {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    margin: 0 20px 0 0;
  }
}

.switch {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  & label input[type=checkbox]:checked + .lever:after {
    background-color: #ff0c0c;
  };
  & label input[type=checkbox]:checked + .lever {
    background-color: #5753cc;
  };
  & > label {
    font-size: 25px;
  }
}

#search-input {
  position: relative;
  left: -100px;
}

.display {
  &-none {
    display: none;
  };
  &-block {
    display: block;
  };
  &-flex {
    display: flex;
  }
}

.while-ip {
  width: 1900px;
  color: white;
  margin: 150px auto;
  font-size: 40px;
  text-transform: uppercase;
  &-window {
    width: fit-content;
    margin: 0 auto 50px;
    padding: 20px;
    background-color: #222222;
    border-radius: 5px;
    border: 2px solid #6f6aff;
  }
}